SUPABASE_URL=https://qxiboffwgzppqkayuzxp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF4aWJvZmZ3Z3pwcHFrYXl1enhwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA4NTc4NDUsImV4cCI6MjA2NjQzMzg0NX0.BAFrU3IOLz3NRYuAKSwJx2nbZqjsXMVAb9tHAFMpP0o
PORT=8000
NODE_ENV=production
